<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div id="body">
    <div id="title">
        <h3>Create New Task</h3>
        <th:blcok th:if="${message}">
            <p th:text="${message}"></p>
        </th:blcok>
    </div>

    <form id="form" th:action="@{/createTasks}" th:object="${createTasks}" method="post">
        <div class="form-group">
            <div class="col-md-2 col-md">
                <input type = "text" class="form-control" placeholder="Tiêu đề" th:field="*{title}">
            </div>
            <div class="col-md-2 col-md">
                <textarea class="form-control" placeholder="Content" th:field="*{content}"></textarea>
            </div>
            <div class="col-md-2 col-md">
                <button type="submit" class="btn btn-primary md-2">Tạo mới</button>
                <button type="button" class="btn btn-primary md-2"><a th:href="@{/listTasks}">Hủy</a></button>
            </div>
        </div>
    </form>
</div>

</body>
</html>