<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="HomePage.html">Todo List</a>
      </div>
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="Register.html" ><span class="glyphicon glyphicon-user"></span>Sign Up</a>
        </li>
        <li>
          <a href="Login.html" ><span class="glyphicon glyphicon-log-in"></span>Login</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<div class="container" style="width:50%">
  <br>
  <br>
  <br>
  <h3>LOGIN</h3>
  <br>
  <form id="form_login">
    <div class="form-group">
      <input type="Username" class="form-control" id="Username_login_id" placeholder="Username" autofocus>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="Password_login_id" placeholder="Password">
    </div>
  </form>
  <button type="submit" class="btn btn-primary" onclick="loginSuccess()">Login</button>
  <button type="submit" class="btn btn-primary" onclick="returnPageRegister()">Sign up</button>
</div>
<script type="text/javascript" scr="RegisterPageJavaScript.js"></script>
<script type="text/javascript" scr="ValidateUser.js"></script>

</body>
</html>